

{% extends "front_layout.html.twig" %}

{% block content %}
<div class="container vh-100 vw-100  justify-content-center align-items-center">
 
        
        
    <div class="row w-100 h-100 justify-content-center align-items-center">
        
    
       
        
        <div class="col align-items-center justify-content-center">
        <h1 class="text-center fw-bold fs-2">Modifier article</h1>

    
        {% embed "decorator/_form.html.twig" %}
        {% block formBody %}
            {{ form_widget(form) }}
        {% endblock %}
        {% endembed %}
        </div>
    </div>
</div>
    

{% endblock %}